@model GroupProductSearchModel
@{
    //page title
    ViewBag.PageTitle = T("Add a product group").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("");
}

@{
    const string hideSearchBlockAttributeName = "ProductGroupPage.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}

<form asp-controller="Product" asp-action="List" method="post">

    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Product groups")
        </h1>
        <div class="float-right">
            <a asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>

            <button type="button" id="delete-selected" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T("Admin.Common.Delete.Selected")
            </button>
            <nop-action-confirmation asp-button-id="delete-selected" />
        </div>
    </div>



    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="cards-group">
                    <div class="card card-default card-search">
                        <div class="card-body">
                            <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                                <div class="search-text">@T("Admin.Common.Search")</div>
                                <div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
                                <div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? "up" : "down")" aria-hidden="true"></i></div>
                            </div>

                            <div class="search-body @(hideSearchBlock ? "closed" : "")">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="GroupName" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="GroupName" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="IsActive" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="IsActive" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="text-center col-12">
                                        <button type="button" id="search-products" class="btn btn-primary btn-search">
                                            <i class="fas fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-default">
                        <div class="card-body">

                            @await Html.PartialAsync("Table", new DataTablesModel
                            {
                            Name = "product-group-grid",
                            UrlRead = new DataUrl("ProductGroupList", "SalesForecasting", null),
                            SearchButtonId = "search-products",
                            Length = Model.PageSize,
                            LengthMenu = Model.AvailablePageSizes,
                            Filters = new List<FilterParameter>
                            {
                            new FilterParameter(nameof(Model.GroupName)),
                            new FilterParameter(nameof(Model.IsActive)),
                            },
                            ColumnCollection = new List<ColumnProperty>
                            {
                            new ColumnProperty(nameof(ProductGroupModel.Id))
                            {
                            IsMasterCheckBox = true,
                            Render = new RenderCheckBox("checkbox_products"),
                            ClassName =  NopColumnClassDefaults.CenterAll,
                            Width = "50"
                            },
                            new ColumnProperty(nameof(ProductGroupModel.GroupName))
                            {
                            Title = T("Group Name").Text
                            },
                            new ColumnProperty(nameof(ProductGroupModel.IsActive))
                            {
                            Title = T("IsActive").Text,
                            Width = "100"
                            },
                            new ColumnProperty(nameof(ProductGroupModel.Id))
                            {
                            Title = T("Admin.Common.Edit").Text,
                            Width = "80",
                            ClassName =  NopColumnClassDefaults.Button,
                            Render = new RenderButtonEdit(new DataUrl("Edit"))
                            }
                            }
                            })

                            <script>
                                $(document).ready(function () {
                                    $('#delete-selected-action-confirmation-submit-button').bind('click', function () {
                                        var postData = {
                                            selectedIds: selectedIds
                                        };
                                        addAntiForgeryToken(postData);
                                        $.ajax({
                                            cache: false,
                                            type: "POST",
                                            url: "@(Url.Action("DeleteProductGroupsSelected", "SalesForecasting"))",
                                            data: postData,
                                            error: function (jqXHR, textStatus, errorThrown) {
                                                showAlert('deleteSelectedFailed', errorThrown);
                                            },
                                            complete: function (jqXHR, textStatus) {
                                                if (jqXHR.status === 204) {
                                                    showAlert('nothingSelectedAlert', '@T("Admin.Common.Alert.NothingSelected")');
                                                    return;
                                                }
                                                updateTable('#product-group-grid');
                                            }
                                        });
                                        $('#delete-selected-action-confirmation').modal('toggle');
                                        return false;
                                    });
                                });

                            </script>
                            <nop-alert asp-alert-id="deleteSelectedFailed" />
                            <nop-alert asp-alert-id="nothingSelectedAlert" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>








</form>
