@model ConfigurationModel

@{
    ViewBag.PageTitle = T("Admin.SalesForecasting.Configure.PageTitle").Text;
    NopHtml.SetActiveMenuItemSystemName("SalesForecasting.Configuration");

    const string hideInfoBlockAttributeName = "SalesForcastingPage.HideInfoBlock";
    var customer = await workContext.GetCurrentCustomerAsync();
    var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideInfoBlockAttributeName);
}

<form asp-controller="SalesForecasting" asp-action="Configure" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.SalesForecasting.Configure.PageHead")
        </h1>

        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
        </div>

        <div class="float-right">
            <button type="button" name="Train" class="btn btn-primary" id="train-button-id">
                <i class="far fa-save"></i>
                @T("Admin.SalesForecasting.Configure.TrainModel")
            </button>
        </div>

    </div>
    <div asp-validation-summary="All"></div>
    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <nop-cards id="salesForcasting-cards">
                    <nop-card asp-name="store-regional-info" asp-icon="fas fa-info" asp-title="@T("Admin.SalesForecasting.Configure.StoreConfigure")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">

                        <div class="card-body">
                            @await Component.InvokeAsync("StoreScopeConfiguration")
                            <div class="form-group row advanced-setting">
                                <div class="col-md-3">
                                    <nop-label asp-for="SaturdayIsWeekend" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="SaturdayIsWeekend" />
                                    <span asp-validation-for="SaturdayIsWeekend"></span>
                                </div>
                            </div>
                            <div class="form-group row advanced-setting">
                                <div class="col-md-3">
                                    <nop-label asp-for="SundayIsWeekend" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="SundayIsWeekend" />
                                    <span asp-validation-for="SundayIsWeekend"></span>
                                </div>
                            </div>

                            <div class="form-group row advanced-setting">
                                <div class="col-md-3">
                                    <nop-label asp-for="MondayIsWeekend" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="MondayIsWeekend" />
                                    <span asp-validation-for="MondayIsWeekend"></span>
                                </div>
                            </div>
                            <div class="form-group row advanced-setting">
                                <div class="col-md-3">
                                    <nop-label asp-for="TuesdayIsWeekend" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="TuesdayIsWeekend" />
                                    <span asp-validation-for="TuesdayIsWeekend"></span>
                                </div>
                            </div>
                            <div class="form-group row advanced-setting">
                                <div class="col-md-3">
                                    <nop-label asp-for="WednesdayIsWeekend" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="WednesdayIsWeekend" />
                                    <span asp-validation-for="WednesdayIsWeekend"></span>
                                </div>
                            </div>
                            <div class="form-group row advanced-setting">
                                <div class="col-md-3">
                                    <nop-label asp-for="ThursdayIsWeekend" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="ThursdayIsWeekend" />
                                    <span asp-validation-for="ThursdayIsWeekend"></span>
                                </div>
                            </div>
                            <div class="form-group row advanced-setting">
                                <div class="col-md-3">
                                    <nop-label asp-for="FridayIsWeekend" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="FridayIsWeekend" />
                                    <span asp-validation-for="FridayIsWeekend"></span>
                                </div>
                            </div>

                        </div>
                    </nop-card>
                </nop-cards>
            </div>
        </div>
    </section>
</form>


<form asp-controller="SalesForecasting" asp-action="TrainModel" method="post" id="train-form-id">
    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <nop-cards id="salesForcasting-cards">
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <input hidden type="submit" name="save" class="btn bg-primary" value="@T("Admin.SalesForecasting.Configure.TrainModel")" />
                        </div>
                    </div>
                </nop-cards>
            </div>
        </div>
    </section>
</form>


<script asp-location="Footer">
    $(document).ready(function () {
        $("#train-button-id").click(function (event) {
            event.preventDefault();
            $("#train-form-id").submit();
        });
    });
</script>