@model PredictionSearchModel

@using Nop.Core
@inject Nop.Services.Common.IGenericAttributeService genericAttributeService
@inject IWorkContext workContext
@{
    NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/lib_npm/chart.js/Chart.min.js");

    const string prefix = "inventoryprediction-statistics";
    const string hideCardAttributeName = "Reports.HideCustomerStatisticsCard";
    var hideCard = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideCardAttributeName);
    const string hideSearchBlockAttributeName = "Prediction.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
    const string hideWeekBlockAttributeName = "Prediction.HideWeekBlock";
    var hideWeekBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideWeekBlockAttributeName);
}
<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default card-search">
                    <div class="card-body">
                        <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                            <div class="search-text">@T("Admin.Common.Search")</div>
                            <div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? "up" : "down")" aria-hidden="true"></i></div>
                        </div>

                        <div class="search-body @(hideSearchBlock ? "closed" : "")">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="CategoryId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="CategoryId" asp-items="Model.AvailableCategory" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="DiscountPercentage" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="DiscountPercentage" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="ShippingCharge" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="ShippingCharge" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center col-12">
                                    <button type="button" id="search-analysis" class="btn btn-primary btn-search">
                                        <i class="fas fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-primary card-outline @if (hideCard){
                <text>collapsed-card</text>
 }" id="@(prefix)-card">
                    <div class="card-header with-border">
                        <h3 class="card-title">
                            <i class="far fa-user"></i>
                            @T("Weekly Sales Prediction")
                        </h3>
                        <div class="card-tools float-right">
                            <button class="btn btn-tool margin-l-10" data-card-widget="collapse">
                                @if (hideCard)
                                {
                                    <text><i class="fas fa-plus"></i></text>
                                }
                                else
                                {
                                    <text><i class="fas fa-minus"></i></text>
                                }
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart" style="height: 300px;">
                            <canvas id="@(prefix)-chart" height="300"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card card-primary card-outline @if (hideCard){
                <text>collapsed-card</text>
}" id="@(prefix)-card">
                    <div class="card-header with-border">
                        <h3 class="card-title">
                            <i class="far fa-user"></i>
                            @T("Monthly sales prediction")
                        </h3>
                        <div class="card-tools float-right">
                            <button class="btn btn-tool margin-l-10" data-card-widget="collapse">
                                @if (hideCard)
                                {
                                    <text><i class="fas fa-plus"></i></text>
                                }
                                else
                                {
                                    <text><i class="fas fa-minus"></i></text>
                                }
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart" style="height: 300px;">
                            <canvas id="@(prefix)-chart" height="300"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card card-primary card-outline @if (hideCard){
                <text>collapsed-card</text>
 }" id="@(prefix)-card">
                    <div class="card-header with-border">
                        <h3 class="card-title">
                            <i class="far fa-user"></i>
                            @T("Sales Contribution of categories")
                        </h3>
                        <div class="card-tools float-right">
                            <button class="btn btn-tool margin-l-10" data-card-widget="collapse">
                                @if (hideCard)
                                {
                                    <text><i class="fas fa-plus"></i></text>
                                }
                                else
                                {
                                    <text><i class="fas fa-minus"></i></text>
                                }
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart" style="height: 300px;">
                            <canvas id="@(prefix)-chart" height="300"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card card-primary card-outline @if (hideCard){
                <text>collapsed-card</text>
 }" id="@(prefix)-card">
                    <div class="card-header with-border">
                        <h3 class="card-title">
                            <i class="far fa-user"></i>
                            @T("Location Wise Sales Prediction")
                        </h3>
                        <div class="card-tools float-right">
                            <button class="btn btn-tool margin-l-10" data-card-widget="collapse">
                                @if (hideCard)
                                {
                                    <text><i class="fas fa-plus"></i></text>
                                }
                                else
                                {
                                    <text><i class="fas fa-minus"></i></text>
                                }
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart" style="height: 300px;">
                            <canvas id="@(prefix)-chart" height="300"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card card-primary card-outline @if (hideCard){
                <text>collapsed-card</text>
 }" id="@(prefix)-card">
                    <div class="card-header with-border">
                        <h3 class="card-title">
                            <i class="far fa-user"></i>
                            @T("Sales Vs Stock")
                        </h3>
                        <div class="card-tools float-right">
                            <button class="btn btn-tool margin-l-10" data-card-widget="collapse">
                                @if (hideCard)
                                {
                                    <text><i class="fas fa-plus"></i></text>
                                }
                                else
                                {
                                    <text><i class="fas fa-minus"></i></text>
                                }
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart" style="height: 300px;">
                            <canvas id="@(prefix)-chart" height="300"></canvas>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="form-horizontal">
                        <div class="cards-group">
                            <div class="card card-default card-search">
                                <div class="card-body">
                                    <div class="row search-row @(!hideWeekBlock ? "opened" : "")" data-hideAttribute="@hideWeekBlockAttributeName">
                                        <div class="search-text">@T("Plugins.NopStation.InventoryPrediction.Report.WeeklySearch")</div>
                                        <div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
                                        <div class="icon-collapse"><i class="far fa-angle-@(!hideWeekBlock ? "up" : "down")" aria-hidden="true"></i></div>
                                    </div>

                                    <div class="search-body @(hideWeekBlock ? "closed" : "")">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group row">
                                                    <div class="col-md-4">
                                                        <nop-label asp-for="WeekId" />
                                                    </div>
                                                    <div class="col-md-8">
                                                        <nop-select asp-for="WeekId" asp-items="Model.AvailableWeekItem" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="text-center col-12">
                                                <button type="button" id="search-productsprediction" class="btn btn-primary btn-search">
                                                    <i class="fas fa-search"></i>
                                                    @T("Admin.Common.Search")
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card card-default">
                                <div class="card-body">
                                    @await Html.PartialAsync("Table", new DataTablesModel
                                    {
                                    Name = "weeklyprediction-grid",
                                    UrlRead = new DataUrl("WeeklyAnalysisList", "SalesForecasting", null),
                                    SearchButtonId = "search-productsprediction",
                                    Length = Model.PageSize,
                                    LengthMenu = Model.AvailablePageSizes,
                                    // Paging = false,
                                    Filters = new List<FilterParameter>
                                    {
                                    new FilterParameter(nameof(Model.WeekId)),
                                    new FilterParameter(nameof(Model.CategoryId)),
                                    new FilterParameter(nameof(Model.DiscountPercentage)),
                                    new FilterParameter(nameof(Model.ShippingCharge)),
                                    //new FilterParameter(nameof(Model.AvailableCategory)),
                                    },
                                    ColumnCollection = new List<ColumnProperty>
                                    {

                                    new ColumnProperty(nameof(WeeklyProduct.ProductName))
                                    {
                                    Title = T("Plugins.NopStation.InventoryPrediction.Report.Table.ProductName").Text,
                                    Width = "50"
                                    },
                                    new ColumnProperty(nameof(WeeklyProduct.SalesQuantity))
                                    {
                                    Title = T("Plugins.NopStation.InventoryPrediction.Report.Table.SalesQuantity").Text,
                                    Width = "50"
                                    },
                                    }
                                    })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>

                    $(document).ready(function () {

                        $('#search-analysis').on('click', function () {
                            var model = {
                                CategoryId: $('#@Html.IdFor(model => model.CategoryId)').val(),
                                DiscountPercentage: $('#@Html.IdFor(model => model.DiscountPercentage)').val(),
                                ShippingCharge: $('#@Html.IdFor(model => model.ShippingCharge)').val(),
                            };
                            changeCsPeriod(model);
                        });

                        var csConfig = {
                            type: 'line',
                            data: {
                                labels: [],
                                datasets: [
                                    {
                                        label: "@T("Plugins.NopStation.InventoryPrediction.Report.WeeklySalesQuantity")",
                                        fillColor: "rgba(60,141,188,0.9)",
                                        strokeColor: "rgba(60,141,188,0.8)",
                                        pointColor: "#00a65a",
                                        pointStrokeColor: "rgba(0,166,90,1)",
                                        pointHighlightFill: "#fff",
                                        pointHighlightStroke: "rgba(0,166,90,1)",
                                        borderColor: 'rgba(0,166,90, 1)',
                                        backgroundColor: 'rgba(0,166,90,0.5)',
                                        pointBorderColor: 'rgba(0,166,90,0.7)',
                                        pointBackgroundColor: 'rgba(0,166,90,0.2)',
                                        pointBorderWidth: 1,
                                        data: []
                                    }
                                ]
                            },
                            options: {
                                legend: {
                                    display: false
                                },
                                scales: {
                                    xAxes: [{
                                        display: true,
                                        ticks: {
                                            userCallback: function (dataLabel, index) {
                                                if (window.customerStatistics && window.customerStatistics.config.data.labels.length > 12) {
                                                    return index % 5 === 0 ? dataLabel : '';
                                                }
                                                return dataLabel;
                                            }
                                        },

                                    }],
                                    yAxes: [{
                                        display: true,
                                        ticks: {
                                            userCallback: function (dataLabel, index) {
                                                return (dataLabel ^ 0) === dataLabel ? dataLabel : '';
                                            },
                                            min: 0
                                        },
                                    }],


                                },
                                showScale: true,
                                scaleShowGridLines: false,
                                scaleGridLineColor: "rgba(0,0,0,.05)",
                                scaleGridLineWidth: 1,
                                scaleShowHorizontalLines: true,
                                scaleShowVerticalLines: true,
                                bezierCurve: true,
                                pointDot: false,
                                pointDotRadius: 4,
                                pointDotStrokeWidth: 1,
                                pointHitDetectionRadius: 20,
                                datasetStroke: true,
                                datasetFill: true,
                                maintainAspectRatio: false,
                                responsive: true,
                            }
                        };
                        function changeCsPeriod(model) {
                            var csLabels = [];
                            var csData = [];
                            console.log("Model: ", model);
                            $.ajax({
                                cache: false,
                                type: "GET",
                                url: "/Admin/SalesForecasting/Analysis",
                                data: {
                                    CategoryId: model.CategoryId,
                                    DiscountPercentage: model.DiscountPercentage,
                                    ShippingCharge: model.ShippingCharge,
                                },
                                success: function (data, textStatus, jqXHR) {
                                    $("#WeekId").attr('disabled', false);
                                    $('#WeekId').empty();
                                    for (var i = 0; i < data.length; i++) {
                                        csLabels.push(data[i].WeekName);
                                        csData.push(data[i].WeeklySalesQuantity);
                                        $("#WeekId").append('<option value=' + data[i].WeekId + ' onchange=getBestProducts(' + data[i].WeekId + ')>' + data[i].WeekName + '</option>');
                                    }

                                    if (!window.customerStatistics) {
                                        csConfig.data.labels = csLabels;
                                        csConfig.data.datasets[0].data = csData;
                                        csConfig.data.scales =
                                            window.customerStatistics = new Chart(document.getElementById("@prefix-chart").getContext("2d"), csConfig);
                                    } else {
                                        window.customerStatistics.config.data.labels = csLabels;
                                        window.customerStatistics.config.data.datasets[0].data = csData;
                                        window.customerStatistics.update();
                                    }
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    //$("#loadCustomerStatisticsAlert").click();
                                }
                            });
                        }

                    @if (!hideCard)
                    {
                        <text>
                                $('#search-analysis').trigger('click');
                        </text>
                    }
                                                                                      });
                </script>
            </div>
        </div>
    </div>
</section>